.MuiCard-root.card-container {
  border-radius: 15px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9) !important;
}

.bold-title {
  font-weight: bold;
  flex-grow: 1;
  font-size: 1.5rem;
}

.tool-bar {
  font-weight: bold;
  margin-left: 8px;
}

.chip-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
